<div class="container">
  <div class="row ">
    <p>EM CARTAZ</p>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/filme.jpg" alt="Imagem 1" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/éassim.webp" alt="Imagem 2" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/corvo.webp" alt="Imagem 3" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/malvadof.webp" alt="Imagem 4" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/divertidamente.webp" alt="Imagem 5" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/bandida.webp" alt="Imagem 6" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
  </div>

<!-- EM BREVE -->

  <div class="row">
    <p>EM BREVE</p>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/fantasmas.webp" alt="Imagem 1" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/hellboy.webp" alt="Imagem 2" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/pets.webp" alt="Imagem 3" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/caçada.webp" alt="Imagem 4" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/harold.webp" alt="Imagem 5" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-2 mb-3">
      <div class="text-center border rounded overflow-hidden">
        <img src="assets/img/posters/pisque.webp" alt="Imagem 6" class="img-fluid">
        <a href="#" class="d-block mt-2 text-primary text-decoration-none">Ver mais</a>
      </div>
    </div>
  </div>
</div>
