<app-nav></app-nav>


<div class="d-flex justify-content-center" style="height: 50vh;">
  <div class="card" style="width: 40%; max-width: 800px; height: 350px;">
    <div id="carouselExampleSlidesOnly" class="carousel slide h-100" data-bs-ride="carousel">
      <div class="carousel-inner h-100">
        <div class="carousel-item active h-100">
          <img src="assets/img/carrosel/malvado.jpg" class="w-100 h-100"
            style="width: 1019px; height: 535px; object-fit: cover;" alt="...">
        </div>
        <div class="carousel-item h-100">
          <img src="assets/img/carrosel/deadpoll.webp" class="w-100 h-100" style="object-fit: cover;" alt="...">
        </div>
        <div class="carousel-item h-100">
          <img src="assets/img/carrosel/assimqueacaba.jpg" class="w-100 h-100" style="object-fit: cover;" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
<app-cards></app-cards>
<app-footer></app-footer>