<div class="app-footer" >     
  <div class="row">
    <div class="col">
      <table class="table footer-table">
        <thead>
          <tr>
            <th class="text-white">PROGRAMAÇÃO</th>
            <th class="text-white">SNACK BAR</th>
            <th class="text-white">PARA EMPRESAS</th>
            <th class="text-white">CINECODE</th>
            <th class="text-white">CONTATO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-gray">Em cartaz<br>Em breve<br>Pré-venda<br>Experiências</td>
            <td class="text-gray">Snack bar<br>Copo reutilizável</td>
            <td class="text-gray">Reserva de sala<br>Vouchers corporativos</td>
            <td class="text-gray">Sobre a CineCode Solutions<br>Acessibilidade<br>Imprensa<br>Parcerias<br>Trabalhe conosco<br>Promoções</td>
            <td class="text-gray">Central de Atendimento<br>FAQ</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
